  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align: center; font: 25px Verdana; color: #00008b">
        NBP ExchangeRate frontend Application
      </h1>
    </div>
  </div>
