<app-header></app-header>

<div class="row">
  <div class="col-md-12">
    <form role="form" (ngSubmit)="submitForm()">
      <div class="form-group">

        <mat-form-field appearance="fill">
          <mat-label>Choose exchange rate date</mat-label>
          <input readonly="readonly" required matInput [min]="minimumDateOfExchangeRate"
                 [matDatepicker]="picker" name="exchangeRateDate" [formControl]="date">
          <mat-error *ngIf="currencyExchangeRateDateValidator.hasError('required')">This field is required</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker (opened)="reset()" #picker startView="year"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Choose a currency</mat-label>
          <select matNativeControl required name="currencyCode" [formControl]="currency">
            <option [value]=""></option>
            <option *ngFor="let currency of currencies" [value]="currency.code">{{currency.desc}}</option>
          </select>
          <mat-error *ngIf="currencyCodeValidator.hasError('required')">This field is required</mat-error>
        </mat-form-field>
        <span class="button">
          <button type="submit" mat-raised-button color="primary">Check exchange rate</button>
          <button type="reset" (click)="reset()" mat-raised-button>Clear</button>
        </span>
        <br/><br/>
        <div class="mat-error" *ngIf="isError">
          <mat-error>{{error}}</mat-error>
        </div>
      </div>
    </form>
  </div>
</div>

<br/><br/>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <th>Currency code</th>
        <th>Currency desciription</th>
        <th>ExchangeRate Id</th>
        <th>Rate date</th>
        <th>Exchange rate</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let rate of exchangeRate.rates">
        <td>{{exchangeRate.code}}</td>
        <td>{{exchangeRate.currency}}</td>
        <td>{{rate.no}}</td>
        <td>{{rate.effectiveDate}}</td>
        <td>{{rate.mid}} PLN</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-footer></app-footer>
