::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.button {
  height: 20px;
  width: 30px;
  margin: 25px 50px 75px 20px;
}

.mat-raised-button {
  background-color: #110124;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Verdana, serif;
  font-size: 16px;
}
